<!-- <p id="tentang"></p> -->
<!-- <ul id="kontak"></ul> -->

<script>
    $.getJSON('../data/user.json', function(data) {
        const response = data[0];
        console.log(response);

        const kontak = response.kontak;
        
        $('#kontak').empty();
        $.each(kontak, function(index, item) {
            $('#kontak').append(`
                <div class="lm-info-block gray-default">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">
                            <i class="lnr ${item.icon}"></i>
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <h4>${item.kontak}</h4>
                            <span class="lm-info-block-value"></span>
                            <span class="lm-info-block-text"></span>
                        </div>
                    </div>
                </div>
            `);
        });
    });
</script>